<!DOCTYPE html>
<html>
<head>
    <!--Version del 10 de marzo del 2023
	Equipo CHilaquilers
	Fátima Morales 614571
	Diego Mejía 569298 
	Oscar Flores 570390 
	Hans Nudding 362782
	-->
    <meta charset='utf-8'><!-- Permite mostrar todos los caracteres de manera correcta -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nunca Mas</title><!-- Titulo que se va a mostrar en pestaña del navegador -->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='../static/css/main.css'><!-- Hace referencia al CSS que se va a utilizar para la pagina-->
	<script src='{{url_for('static', filename='js/codigo.js')}}'></script><!-- Se hace referencia al JS que se va a utilizar para la pagina -->
    <!-- Enlaces para fuentes de iconos -->
	<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

<body>

    <header>
        <nav>
            <input type="checkbox" id="check"><!-- Checboc que se activa cuando el tamaño se redice a cierto tamaño -->
            <label for="check" class="checkbtn"><!-- Menu de hamburgesa -->
                <i class="fas fa-bars"></i><!-- Icono de Menu de hamburgesa-->
            </label>
            <a href="/" class="enlace">
                <img src='../static/images/logoNuncaMas.png' alt="Logo Nunca Mas" class="logo"><!-- Imagen del logo de NUNCA MAS-->
            </a>

            <ul><!-- Menu de navegacion del sitio -->
                <li class="active" ><a href="/">Inicio</a></li><!-- Enlace que nos dirige a la pagina principal del sitio, al ya estar en ese pagina se incluye en la
                    clase active para que se muestre el formato deseado -->
                <li><a href="/informate">Infórmate</a></li><!-- Enlace que nos dirice a la pagina "Informate" del sitio-->
                <li><a href="/test">Test</a></li><!-- Enlace que nos dirige a la pagina "Test" del sitio-->
                <!--<li><a href="/contactos">Contactos</a></li><!-- Enlace que nos dirige a la pagina "Contactanos" del sitio-->
                <li><a href="/organizaciones">Organizaciones</a></li>
            </ul>
            

        </nav>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    </header>

    <a href="https://www.accuweather.com/es/mx/monterrey/244681/daily-weather-forecast/244681"><div id="miDiv"><p>&nbsp&nbspX</p></div></a>
    <script src="js/codigo.js"></script>

    <div class="content-wrapper">
    <h1 class="titulosPagInicio">Acerca del proyecto</h1>

    <div class="informacion">
        <p class="infoInicio">Bienvenid@ a !NUNCA MÁS! Sitio dedicado a ayudar a personas que se encuentran en situaciones de violencia de genero. Sabemos que puede ser difícil hablar sobre estos temas, pero queremos que sepa que está en un lugar seguro y confidencial donde encontrará recursos y apoyo. Creemos que todas las mujeres merecen vivir libres de violencia y trabajamos para ofrecer información y herramientas que puedan ayudar a lograrlo. 
        </p>
        <br>
        <p class="infoInicio">Nuestra misión es brindar apoyo y orientación para que las mujeres puedan tomar decisiones informadas y acceder a recursos que les permitan vivir de manera segura y saludable. Gracias por visitarnos y esperamos poder ayudarla en lo que necesite.</p>
    </div>
    <br>
    
    
    <div class="row" id="seccionInformate">
        <h1 class="titulosPagInicio">Información adicional</h1>





        
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
        
            <div id="slides">
                
               <div id="overflow">
                  <div class="inner">
                     <div class="slide slide_1">
                        <div class="slide-content">
                            <div class="video-contenedor">
                                <iframe class="videos"  src="https://www.youtube.com/embed/_NR_9V96YAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                        </div>
                            </div>
                     </div>
                     <div class="slide slide_2">
                        <div class="slide-content">
                           <h2>Video 2</h2>
                           
                        </div>
                     </div>
                     <div class="slide slide_3">
                        <div class="slide-content">
                           <h2>Video 3</h2>
                          
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            <div id="controls">
               <label for="slide1"></label>
               <label for="slide2"></label>
               <label for="slide3"></label>
              
            </div>
            <div id="bullets">
               <label for="slide1"></label>
               <label for="slide2"></label>
               <label for="slide3"></label>
            
            </div>
         </div>
    </div>
    </div>
    <!-- footer -->
	<div class="row mx-0 centrar" id="footer">
        <div class="col-12" id="textoFooter">
            <h4>Términos y condiciones</h4>
            <p>Al utilizar nuestro sitio web, usted acepta cumplir con nuestros términos y condiciones. No nos hacemos responsables por cualquier daño que pueda resultar del uso del sitio.</p>
            <br><h4>Aviso de privacidad</h4>
            <p>Nos comprometemos a proteger su privacidad y a utilizar su información únicamente para fines específicos relacionados con nuestro sitio web. No compartiremos su información con terceros sin su consentimiento.</p>
        </div>
    </div>
   
    <!-- boton para llamada de emergencia-->
    <div class="row">
        <div class="col ">
            <button onclick="window.location.href = 'tel:800 10 84 053'" class="botonEmergencia">
                <p>Llamada de</p>
                <p><b>emergencia</b></p>
            </button>
        </div>
    </div>   
</body>
</html>
